
<br>
<br>
<br>
<br>
<br>
Thank you for signing up with Diesel Shark.
<div class="row">
  <aside class="col-md-4">
      <h3>Username: <%= @user.name %></h3>
      <h3>Email:  <%= @user.email %></h3>
  </aside>
</div>


