
<% @routes.each do |route| %>
  <div class="row">
     <div class="col-md-4 col-sm-4">
      <p class="lead"><%= link_to(route.starting_point, route) %> to <%= route.end_point %>
    </div>
    <div class="col-md-8 col-sm-8">
    </div>
  </div>
<% end %>


