<div id="new_destination">
	<h1>Destination:</h1>
</div>

<div id="new_formblock">
	<%= render :partial => 'new_form' %>
</div>




<!-- 

http://www.mrwallpaper.com/wallpapers/Highway-Landscape.jpg
http://www.buffalogov.org/files/Images/highway4.JPG
http://upload.wikimedia.org/wikipedia/commons/1/1e/Highway_401_by_401-DVP.jpg
http://aplaceforthings.com/wp-content/uploads/2013/02/Mountain-Highway-2-1140x700.jpg
http://wallpoper.com/images/00/44/73/34/german-highway_00447334.jpg
http://superiortrisports.files.wordpress.com/2012/02/istock_mojave-desert-highway.jpg -->