<body class="turd">	
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


		<div id="new_destination">
			<div id="new_header"><h1>Destination</h1></div>
		</div>

		<div id="new_formblock">
			<%= render :partial => 'new_form' %>
		</div>
</div>

