/*html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  margin: 0;
}

*/


.new_formblock{
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.new_destination{
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}